<div class="cover-container">

  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">{{#link-to 'index'}}Ben Orozco{{/link-to}}</h3>
      <nav>
        <ul class="nav masthead-nav">
          <li>{{#link-to 'index'}}Home{{/link-to}}</li>
          <li>{{#link-to 'cv'}}Resumé{{/link-to}}</li>
          <li>{{#link-to 'pgp'}}PGP{{/link-to}}</li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="inner cover">
    {{outlet}}
  </div>

  <div class="mastfoot">
    <div class="inner">
      {{!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> --}}
    </div>
  </div>

</div>
