<img
  class="gravatar"
  src="http://www.gravatar.com/avatar/2dcb83d8b5232e23cebc4dc3832e0b82?s=256"
/>
<h1 class="cover-heading">Hi, I'm Ben!</h1>
<p class="lead">Technologist. Web Developer. JavaScripter. OSS Enthusiast. Love building things, learn new stuff and help software to eat the world.</p>
<p class="lead">
  <a href="#" class="btn btn-lg btn-default">Learn more</a>
</p>
