{{!--  {{gravatar-image email=model.data.email size="256"}}  --}}
<img class="gravatar" src="https://d1qb2nb5cznatu.cloudfront.net/users/2370959-original?1521210452">
<h1 class="cover-heading">Hi, I'm {{model.data.nickname}}!</h1>
<br />
<p class="lead">
&#x2665; App maker &ndash; Technolo-gist &ndash; Interwebs dev &ndash; OSS junkie &ndash; Bleeding edger
<br />
<br />
:: "helping software keep swallowing the world" ™
</p>
<h1>Who?</h1>
{{social-icons data=model.data.social}}
<h1>What I do</h1>
<p class="lead text-block">
CTO @ <a href="http://www.ecaresoft.com/">Ecaresoft</a> / <a href="http://www.nimbo-x.com/">Nimbo X</a>
</p>
{{random-emoji emojis=model.emojis}}
<br />

